<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <title>Classifiers Data Form</title>
</head>
<body>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Información demográfica</h1>
    <section>
        <p>Con fines investigativos necesitamos reunir algunos datos tuyos, no es necesario datos de contacto o de identificacion</p>
    </section>
    <form action="{{ url_for('submit') }}" method="post">
        <div>
            <label for="age">Edad</label>
            <input type="number" id="age" name="age" placeholder="Ingresa tu edad", required>
        </div>
        <div>
            <label for="gender">Género</label>
            <select id="gender" name="gender" required>
                <option value="disabled_selected" hidden></option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div>
            <label for="location">Comuna</label>
            <select id="location" name="location" required>
                <option value="disabled_selected" hidden></option>
                <option value="Arica">Arica</option>
                <option value="Camarones">Camarones</option>
                <option value="Putre">Putre</option>
                <option value="General Lagos">General Lagos</option>
                <option value="Iquique">Iquique</option>
                <option value="Alto Hospicio">Alto Hospicio</option>
                <option value="Pozo Almonte">Pozo Almonte</option>
                <option value="Camiña">Camiña</option>
                <option value="Colchane">Colchane</option>
                <option value="Huara">Huara</option>
                <option value="Pica">Pica</option>
                <option value="Antofagasta">Antofagasta</option>
                <option value="Mejillones">Mejillones</option>
                <option value="Sierra Gorda">Sierra Gorda</option>
                <option value="Taltal">Taltal</option>
                <option value="Calama">Calama</option>
                <option value="Ollagüe">Ollagüe</option>
                <option value="San Pedro de Atacama">San Pedro de Atacama</option>
                <option value="Tocopilla">Tocopilla</option>
                <option value="María Elena">María Elena</option>
                <option value="Copiapó">Copiapó</option>
                <option value="Caldera">Caldera</option>
                <option value="Tierra Amarilla">Tierra Amarilla</option>
                <option value="Chañaral">Chañaral</option>
                <option value="Diego de Almagro">Diego de Almagro</option>
                <option value="Vallenar">Vallenar</option>
                <option value="Alto del Carmen">Alto del Carmen</option>
                <option value="Freirina">Freirina</option>
                <option value="Huasco">Huasco</option>
                <option value="La Serena">La Serena</option>
                <option value="Coquimbo">Coquimbo</option>
                <option value="Andacollo">Andacollo</option>
                <option value="La Higuera">La Higuera</option>
                <option value="Paihuano">Paihuano</option>
                <option value="Vicuña">Vicuña</option>
                <option value="Illapel">Illapel</option>
                <option value="Canela">Canela</option>
                <option value="Los Vilos">Los Vilos</option>
                <option value="Salamanca">Salamanca</option>
                <option value="Ovalle">Ovalle</option>
                <option value="Combarbalá">Combarbalá</option>
                <option value="Monte Patria">Monte Patria</option>
                <option value="Punitaqui">Punitaqui</option>
                <option value="Río Hurtado">Río Hurtado</option>
                <option value="Valparaíso">Valparaíso</option>
                <option value="Casablanca">Casablanca</option>
                <option value="Concón">Concón</option>
                <option value="Juan Fernández">Juan Fernández</option>
                <option value="Puchuncaví">Puchuncaví</option>
                <option value="Quintero">Quintero</option>
                <option value="Viña del Mar">Viña del Mar</option>
                <option value="Isla de Pascua">Isla de Pascua</option>
                <option value="Los Andes">Los Andes</option>
                <option value="Calle Larga">Calle Larga</option>
                <option value="Rinconada">Rinconada</option>
                <option value="San Esteban">San Esteban</option>
                <option value="La Ligua">La Ligua</option>
                <option value="Cabildo">Cabildo</option>
                <option value="Papudo">Papudo</option>
                <option value="Petorca">Petorca</option>
                <option value="Zapallar">Zapallar</option>
                <option value="Quillota">Quillota</option>
                <option value="La Calera">La Calera</option>
                <option value="Hijuelas">Hijuelas</option>
                <option value="La Cruz">La Cruz</option>
                <option value="Nogales">Nogales</option>
                <option value="San Antonio">San Antonio</option>
                <option value="Algarrobo">Algarrobo</option>
                <option value="Cartagena">Cartagena</option>
                <option value="El Quisco">El Quisco</option>
                <option value="El Tabo">El Tabo</option>
                <option value="Santo Domingo">Santo Domingo</option>
                <option value="San Felipe">San Felipe</option>
                <option value="Catemu">Catemu</option>
                <option value="Llay-Llay">Llay-Llay</option>
                <option value="Panquehue">Panquehue</option>
                <option value="Putaendo">Putaendo</option>
                <option value="Santa María">Santa María</option>
                <option value="Quilpué">Quilpué</option>
                <option value="Limache">Limache</option>
                <option value="Olmué">Olmué</option>
                <option value="Villa Alemana">Villa Alemana</option>
                <option value="Rancagua">Rancagua</option>
                <option value="Codegua">Codegua</option>
                <option value="Coinco">Coinco</option>
                <option value="Coltauco">Coltauco</option>
                <option value="Doñihue">Doñihue</option>
                <option value="Graneros">Graneros</option>
                <option value="Las Cabras">Las Cabras</option>
                <option value="Machalí">Machalí</option>
                <option value="Malloa">Malloa</option>
                <option value="Mostazal">Mostazal</option>
                <option value="Olivar">Olivar</option>
                <option value="Peumo">Peumo</option>
                <option value="Pichidegua">Pichidegua</option>
                <option value="Quinta de Tilcoco">Quinta de Tilcoco</option>
                <option value="Rengo">Rengo</option>
                <option value="Requínoa">Requínoa</option>
                <option value="San Vicente">San Vicente</option>
                <option value="Pichilemu">Pichilemu</option>
                <option value="La Estrella">La Estrella</option>
                <option value="Litueche">Litueche</option>
                <option value="Marchigüe">Marchigüe</option>
                <option value="Navidad">Navidad</option>
                <option value="Paredones">Paredones</option>
                <option value="San Fernando">San Fernando</option>
                <option value="Chépica">Chépica</option>
                <option value="Chimbarongo">Chimbarongo</option>
                <option value="Lolol">Lolol</option>
                <option value="Nancagua">Nancagua</option>
                <option value="Palmilla">Palmilla</option>
                <option value="Peralillo">Peralillo</option>
                <option value="Placilla">Placilla</option>
                <option value="Pumanque">Pumanque</option>
                <option value="Santa Cruz">Santa Cruz</option>
                <option value="Talca">Talca</option>
                <option value="Constitución">Constitución</option>
                <option value="Curepto">Curepto</option>
                <option value="Empedrado">Empedrado</option>
                <option value="Maule">Maule</option>
                <option value="Pelarco">Pelarco</option>
                <option value="Pencahue">Pencahue</option>
                <option value="Río Claro">Río Claro</option>
                <option value="San Clemente">San Clemente</option>
                <option value="San Rafael">San Rafael</option>
                <option value="Cauquenes">Cauquenes</option>
                <option value="Chanco">Chanco</option>
                <option value="Pelluhue">Pelluhue</option>
                <option value="Curicó">Curicó</option>
                <option value="Hualañé">Hualañé</option>
                <option value="Licantén">Licantén</option>
                <option value="Molina">Molina</option>
                <option value="Rauco">Rauco</option>
                <option value="Romeral">Romeral</option>
                <option value="Sagrada Familia">Sagrada Familia</option>
                <option value="Teno">Teno</option>
                <option value="Vichuquén">Vichuquén</option>
                <option value="Linares">Linares</option>
                <option value="Colbún">Colbún</option>
                <option value="Longaví">Longaví</option>
                <option value="Parral">Parral</option>
                <option value="Retiro">Retiro</option>
                <option value="San Javier">San Javier</option>
                <option value="Villa Alegre">Villa Alegre</option>
                <option value="Yerbas Buenas">Yerbas Buenas</option>
                <option value="Chillán">Chillán</option>
                <option value="Bulnes">Bulnes</option>
                <option value="Chillán Viejo">Chillán Viejo</option>
                <option value="El Carmen">El Carmen</option>
                <option value="Pemuco">Pemuco</option>
                <option value="Pinto">Pinto</option>
                <option value="Quillón">Quillón</option>
                <option value="San Ignacio">San Ignacio</option>
                <option value="Yungay">Yungay</option>
                <option value="Quirihue">Quirihue</option>
                <option value="Cobquecura">Cobquecura</option>
                <option value="Coelemu">Coelemu</option>
                <option value="Ninhue">Ninhue</option>
                <option value="Portezuelo">Portezuelo</option>
                <option value="Ránquil">Ránquil</option>
                <option value="Treguaco">Treguaco</option>
                <option value="San Carlos">San Carlos</option>
                <option value="Coihueco">Coihueco</option>
                <option value="Ñiquén">Ñiquén</option>
                <option value="San Fabián">San Fabián</option>
                <option value="San Nicolás">San Nicolás</option>
                <option value="Concepción">Concepción</option>
                <option value="Coronel">Coronel</option>
                <option value="Chiguayante">Chiguayante</option>
                <option value="Florida">Florida</option>
                <option value="Hualqui">Hualqui</option>
                <option value="Lota">Lota</option>
                <option value="Penco">Penco</option>
                <option value="San Pedro de La Paz">San Pedro de La Paz</option>
                <option value="Santa Juana">Santa Juana</option>
                <option value="Talcahuano">Talcahuano</option>
                <option value="Tomé">Tomé</option>
                <option value="Hualpén">Hualpén</option>
                <option value="Lebu">Lebu</option>
                <option value="Arauco">Arauco</option>
                <option value="Cañete">Cañete</option>
                <option value="Contulmo">Contulmo</option>
                <option value="Curanilahue">Curanilahue</option>
                <option value="Los Álamos">Los Álamos</option>
                <option value="Tirúa">Tirúa</option>
                <option value="Los Ángeles">Los Ángeles</option>
                <option value="Antuco">Antuco</option>
                <option value="Cabrero">Cabrero</option>
                <option value="Laja">Laja</option>
                <option value="Mulchén">Mulchén</option>
                <option value="Nacimiento">Nacimiento</option>
                <option value="Negrete">Negrete</option>
                <option value="Quilaco">Quilaco</option>
                <option value="Quilleco">Quilleco</option>
                <option value="San Rosendo">San Rosendo</option>
                <option value="Santa Bárbara">Santa Bárbara</option>
                <option value="Tucapel">Tucapel</option>
                <option value="Yumbel">Yumbel</option>
                <option value="Alto Biobío">Alto Biobío</option>
                <option value="Temuco">Temuco</option>
                <option value="Carahue">Carahue</option>
                <option value="Cunco">Cunco</option>
                <option value="Curarrehue">Curarrehue</option>
                <option value="Freire">Freire</option>
                <option value="Galvarino">Galvarino</option>
                <option value="Gorbea">Gorbea</option>
                <option value="Lautaro">Lautaro</option>
                <option value="Loncoche">Loncoche</option>
                <option value="Melipeuco">Melipeuco</option>
                <option value="Nueva Imperial">Nueva Imperial</option>
                <option value="Padre Las Casas">Padre Las Casas</option>
                <option value="Perquenco">Perquenco</option>
                <option value="Pitrufquén">Pitrufquén</option>
                <option value="Pucón">Pucón</option>
                <option value="Saavedra">Saavedra</option>
                <option value="Teodoro Schmidt">Teodoro Schmidt</option>
                <option value="Toltén">Toltén</option>
                <option value="Vilcún">Vilcún</option>
                <option value="Villarrica">Villarrica</option>
                <option value="Cholchol">Cholchol</option>
                <option value="Angol">Angol</option>
                <option value="Collipulli">Collipulli</option>
                <option value="Curacautín">Curacautín</option>
                <option value="Ercilla">Ercilla</option>
                <option value="Lonquimay">Lonquimay</option>
                <option value="Los Sauces">Los Sauces</option>
                <option value="Lumaco">Lumaco</option>
                <option value="Purén">Purén</option>
                <option value="Renaico">Renaico</option>
                <option value="Traiguén">Traiguén</option>
                <option value="Victoria">Victoria</option>
                <option value="Valdivia">Valdivia</option>
                <option value="Corral">Corral</option>
                <option value="Lanco">Lanco</option>
                <option value="Los Lagos">Los Lagos</option>
                <option value="Máfil">Máfil</option>
                <option value="Mariquina">Mariquina</option>
                <option value="Paillaco">Paillaco</option>
                <option value="Panguipulli">Panguipulli</option>
                <option value="La Unión">La Unión</option>
                <option value="Futrono">Futrono</option>
                <option value="Lago Ranco">Lago Ranco</option>
                <option value="Río Bueno">Río Bueno</option>
                <option value="Puerto Montt">Puerto Montt</option>
                <option value="Calbuco">Calbuco</option>
                <option value="Cochamó">Cochamó</option>
                <option value="Fresia">Fresia</option>
                <option value="Frutillar">Frutillar</option>
                <option value="Los Muermos">Los Muermos</option>
                <option value="Llanquihue">Llanquihue</option>
                <option value="Maullín">Maullín</option>
                <option value="Puerto Varas">Puerto Varas</option>
                <option value="Castro">Castro</option>
                <option value="Ancud">Ancud</option>
                <option value="Chonchi">Chonchi</option>
                <option value="Curaco de Vélez">Curaco de Vélez</option>
                <option value="Dalcahue">Dalcahue</option>
                <option value="Puqueldón">Puqueldón</option>
                <option value="Queilén">Queilén</option>
                <option value="Quellón">Quellón</option>
                <option value="Quemchi">Quemchi</option>
                <option value="Quinchao">Quinchao</option>
                <option value="Osorno">Osorno</option>
                <option value="Puerto Octay">Puerto Octay</option>
                <option value="Purranque">Purranque</option>
                <option value="Puyehue">Puyehue</option>
                <option value="Río Negro">Río Negro</option>
                <option value="San Juan de la Costa">San Juan de la Costa</option>
                <option value="San Pablo">San Pablo</option>
                <option value="Chaitén">Chaitén</option>
                <option value="Futaleufú">Futaleufú</option>
                <option value="Hualaihué">Hualaihué</option>
                <option value="Palena">Palena</option>
                <option value="Coyhaique">Coyhaique</option>
                <option value="Lago Verde">Lago Verde</option>
                <option value="Aysén">Aysén</option>
                <option value="Cisnes">Cisnes</option>
                <option value="Guaitecas">Guaitecas</option>
                <option value="Cochrane">Cochrane</option>
                <option value="O'Higgins">O'Higgins</option>
                <option value="Tortel">Tortel</option>
                <option value="Chile Chico">Chile Chico</option>
                <option value="Río Ibáñez">Río Ibáñez</option>
                <option value="Punta Arenas">Punta Arenas</option>
                <option value="Laguna Blanca">Laguna Blanca</option>
                <option value="Río Verde">Río Verde</option>
                <option value="San Gregorio">San Gregorio</option>
                <option value="Cabo de Hornos">Cabo de Hornos</option>
                <option value="Antártica">Antártica</option>
                <option value="Porvenir">Porvenir</option>
                <option value="Primavera">Primavera</option>
                <option value="Timaukel">Timaukel</option>
                <option value="Natales">Natales</option>
                <option value="Torres del Paine">Torres del Paine</option>
                <option value="Santiago">Santiago</option>
                <option value="Cerrillos">Cerrillos</option>
                <option value="Cerro Navia">Cerro Navia</option>
                <option value="Conchalí">Conchalí</option>
                <option value="El Bosque">El Bosque</option>
                <option value="Estación Central">Estación Central</option>
                <option value="Huechuraba">Huechuraba</option>
                <option value="Independencia">Independencia</option>
                <option value="La Cisterna">La Cisterna</option>
                <option value="La Florida">La Florida</option>
                <option value="La Granja">La Granja</option>
                <option value="La Pintana">La Pintana</option>
                <option value="La Reina">La Reina</option>
                <option value="Las Condes">Las Condes</option>
                <option value="Lo Barnechea">Lo Barnechea</option>
                <option value="Lo Espejo">Lo Espejo</option>
                <option value="Lo Prado">Lo Prado</option>
                <option value="Macul">Macul</option>
                <option value="Maipú">Maipú</option>
                <option value="Ñuñoa">Ñuñoa</option>
                <option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
                <option value="Peñalolén">Peñalolén</option>
                <option value="Providencia">Providencia</option>
                <option value="Pudahuel">Pudahuel</option>
                <option value="Quilicura">Quilicura</option>
                <option value="Quinta Normal">Quinta Normal</option>
                <option value="Recoleta">Recoleta</option>
                <option value="Renca">Renca</option>
                <option value="San Joaquín">San Joaquín</option>
                <option value="San Miguel">San Miguel</option>
                <option value="San Ramón">San Ramón</option>
                <option value="Vitacura">Vitacura</option>
                <option value="Puente Alto">Puente Alto</option>
                <option value="Pirque">Pirque</option>
                <option value="San José de Maipo">San José de Maipo</option>
                <option value="Colina">Colina</option>
                <option value="Lampa">Lampa</option>
                <option value="Til Til">Til Til</option>
                <option value="San Bernardo">San Bernardo</option>
                <option value="Buin">Buin</option>
                <option value="Calera de Tango">Calera de Tango</option>
                <option value="Paine">Paine</option>
                <option value="Melipilla">Melipilla</option>
                <option value="Alhué">Alhué</option>
                <option value="Curacaví">Curacaví</option>
                <option value="María Pinto">María Pinto</option>
                <option value="San Pedro">San Pedro</option>
                <option value="Talagante">Talagante</option>
                <option value="El Monte">El Monte</option>
                <option value="Isla de Maipo">Isla de Maipo</option>
                <option value="Padre Hurtado">Padre Hurtado</option>
                <option value="Peñaflor">Peñaflor</option>
            </select>
        </div>
        <div>
            <label for="institution">Institución</label>
            <select id="institution" name="institution" required>
                <option value="disabled_selected" hidden></option>
                <option value="Universidad De Chile">Universidad De Chile</option>
                <option value="Universidad De Santiago De Chile">Universidad De Santiago De Chile</option>
                <option value="Universidad De Valparaíso">Universidad De Valparaíso</option>
                <option value="Universidad De Antofagasta">Universidad De Antofagasta</option>
                <option value="Universidad De La Serena">Universidad De La Serena</option>
                <option value="Universidad Del Bío-Bío">Universidad Del Bío-Bío</option>
                <option value="Universidad De La Frontera">Universidad De La Frontera</option>
                <option value="Universidad De Magallanes">Universidad De Magallanes</option>
                <option value="Universidad De Talca">Universidad De Talca</option>
                <option value="Universidad De Atacama">Universidad De Atacama</option>
                <option value="Universidad De Tarapacá">Universidad De Tarapacá</option>
                <option value="Universidad Arturo Prat">Universidad Arturo Prat</option>
                <option value="Universidad Metropolitana De Ciencias De La Educación">Universidad Metropolitana De Ciencias De La Educación</option>
                <option value="Universidad De Playa Ancha De Ciencias De La Educación">Universidad De Playa Ancha De Ciencias De La Educación</option>
                <option value="Universidad De Los Lagos">Universidad De Los Lagos</option>
                <option value="Universidad Tecnológica Metropolitana">Universidad Tecnológica Metropolitana</option>
                <option value="Universidad De O'Higgins">Universidad De O'Higgins</option>
                <option value="Universidad De Aysén">Universidad De Aysén</option>
                <option value="Pontificia Universidad Católica De Chile">Pontificia Universidad Católica De Chile</option>
                <option value="Universidad De Concepción">Universidad De Concepción</option>
                <option value="Universidad Técnica Federico Santa María">Universidad Técnica Federico Santa María</option>
                <option value="Pontificia Universidad Católica De Valparaíso">Pontificia Universidad Católica De Valparaíso</option>
                <option value="Universidad Austral De Chile">Universidad Austral De Chile</option>
                <option value="Universidad Católica Del Norte">Universidad Católica Del Norte</option>
                <option value="Universidad Católica Del Maule">Universidad Católica Del Maule</option>
                <option value="Universidad Católica De La Santísima Concepción">Universidad Católica De La Santísima Concepción</option>
                <option value="Universidad Católica De Temuco">Universidad Católica De Temuco</option>
                <option value="Universidad Gabriela Mistral">Universidad Gabriela Mistral</option>
                <option value="Universidad Finis Terrae">Universidad Finis Terrae</option>
                <option value="Universidad Diego Portales">Universidad Diego Portales</option>
                <option value="Universidad Central De Chile">Universidad Central De Chile</option>
                <option value="Universidad Bolivariana">Universidad Bolivariana</option>
                <option value="Universidad Del Alba ">Universidad Del Alba </option>
                <option value="Universidad Mayor">Universidad Mayor</option>
                <option value="Universidad Academia De Humanismo Cristiano">Universidad Academia De Humanismo Cristiano</option>
                <option value="Universidad Santo Tomás">Universidad Santo Tomás</option>
                <option value="Universidad La República">Universidad La República</option>
                <option value="Universidad Sek">Universidad Sek</option>
                <option value="Universidad De Las Américas">Universidad De Las Américas</option>
                <option value="Universidad Andrés Bello">Universidad Andrés Bello</option>
                <option value="Universidad De Viña Del Mar">Universidad De Viña Del Mar</option>
                <option value="Universidad Adolfo Ibañez">Universidad Adolfo Ibañez</option>
                <option value="Universidad Iberoamericana De Ciencias Y Tecnología">Universidad Iberoamericana De Ciencias Y Tecnología</option>
                <option value="Universidad De Artes, Ciencias Y Comunicación - Uniacc">Universidad De Artes, Ciencias Y Comunicación - Uniacc</option>
                <option value="Universidad Autónoma De Chile">Universidad Autónoma De Chile</option>
                <option value="Universidad De Los Andes">Universidad De Los Andes</option>
                <option value="Universidad Adventista De Chile">Universidad Adventista De Chile</option>
                <option value="Universidad San Sebastián">Universidad San Sebastián</option>
                <option value="Universidad De Arte Y Ciencias Sociales Arcis">Universidad De Arte Y Ciencias Sociales Arcis</option>
                <option value="Universidad Católica Cardenal Raúl Silva Henríquez">Universidad Católica Cardenal Raúl Silva Henríquez</option>
                <option value="Universidad Del Desarrollo">Universidad Del Desarrollo</option>
                <option value="Universidad De Aconcagua">Universidad De Aconcagua</option>
                <option value="Universidad Del Pacífico">Universidad Del Pacífico</option>
                <option value="Universidad Los Leones">Universidad Los Leones</option>
                <option value="Universidad Bernardo O'Higgins">Universidad Bernardo O'Higgins</option>
                <option value="Universidad Tecnológica De Chile Inacap">Universidad Tecnológica De Chile Inacap</option>
                <option value="Universidad Miguel De Cervantes">Universidad Miguel De Cervantes</option>
                <option value="Universidad Alberto Hurtado">Universidad Alberto Hurtado</option>
                <option value="Instituto Profesional Agrario Adolfo Matthei">Instituto Profesional Agrario Adolfo Matthei</option>
                <option value="Instituto Profesional Inacap">Instituto Profesional Inacap</option>
                <option value="Instituto Profesional Libertador De Los Andes">Instituto Profesional Libertador De Los Andes</option>
                <option value="Instituto Profesional Instituto De Estudios Bancarios Guillermo Subercaseaux">Instituto Profesional Instituto De Estudios Bancarios Guillermo Subercaseaux</option>
                <option value="Instituto Profesional Escuela De Contadores Auditores De Santiago">Instituto Profesional Escuela De Contadores Auditores De Santiago</option>
                <option value="Instituto Profesional Providencia">Instituto Profesional Providencia</option>
                <option value="Instituto Profesional Chileno Británico De Cultura ">Instituto Profesional Chileno Británico De Cultura </option>
                <option value="Instituto Profesional Duoc Uc">Instituto Profesional Duoc Uc</option>
                <option value="Instituto Profesional Ipg">Instituto Profesional Ipg</option>
                <option value="Instituto Profesional Santo Tomás">Instituto Profesional Santo Tomás</option>
                <option value="Instituto Profesional Instituto Superior De Artes Y Ciencias De La Comunicación- Iacc ">Instituto Profesional Instituto Superior De Artes Y Ciencias De La Comunicación- Iacc </option>
                <option value="Instituto Profesional Diego Portales">Instituto Profesional Diego Portales</option>
                <option value="Instituto Profesional De Chile">Instituto Profesional De Chile</option>
                <option value="Instituto Profesional Escuela Moderna De Música">Instituto Profesional Escuela Moderna De Música</option>
                <option value="Instituto Profesional Esucomex">Instituto Profesional Esucomex</option>
                <option value="Instituto Profesional Eatri">Instituto Profesional Eatri</option>
                <option value="Instituto Profesional De Los Angeles">Instituto Profesional De Los Angeles</option>
                <option value="Instituto Profesional Dr. Virginio Gómez G.">Instituto Profesional Dr. Virginio Gómez G.</option>
                <option value="Instituto Profesional Aiep">Instituto Profesional Aiep</option>
                <option value="Instituto Profesional Arcos">Instituto Profesional Arcos</option>
                <option value="Instituto Profesional Latinoamericano De Comercio Exterior - Iplacex">Instituto Profesional Latinoamericano De Comercio Exterior - Iplacex</option>
                <option value="Instituto Profesional Los Leones">Instituto Profesional Los Leones</option>
                <option value="Instituto Profesional Ciisa">Instituto Profesional Ciisa</option>
                <option value="Instituto Profesional Los Lagos">Instituto Profesional Los Lagos</option>
                <option value="Instituto Profesional De Ciencias De La Computación Acuario Data">Instituto Profesional De Ciencias De La Computación Acuario Data</option>
                <option value="Instituto Profesional Escuela De Comercio De Santiago">Instituto Profesional Escuela De Comercio De Santiago</option>
                <option value="Instituto Profesional Del Valle Central">Instituto Profesional Del Valle Central</option>
                <option value="Instituto Profesional Instituto Nacional Del Fútbol">Instituto Profesional Instituto Nacional Del Fútbol</option>
                <option value="Instituto Profesional Instituto Internacional De Artes Culinarias Y Servicios">Instituto Profesional Instituto Internacional De Artes Culinarias Y Servicios</option>
                <option value="Instituto Profesional Projazz">Instituto Profesional Projazz</option>
                <option value="Instituto Profesional Escuela De Cine De Chile">Instituto Profesional Escuela De Cine De Chile</option>
                <option value="Instituto Profesional Escuela De Marina Mercante Piloto Pardo">Instituto Profesional Escuela De Marina Mercante Piloto Pardo</option>
                <option value="Instituto Profesional Cicerón">Instituto Profesional Cicerón</option>
                <option value="Centro De Formación Técnica Instituto Central De Capacitación Educacional Icce">Centro De Formación Técnica Instituto Central De Capacitación Educacional Icce</option>
                <option value="Centro De Formación Técnica De Enac O Centro De Formación Técnica De Los Establecimientos Nacionales De Educación Cáritas-Chile">Centro De Formación Técnica De Enac O Centro De Formación Técnica De Los Establecimientos Nacionales De Educación Cáritas-Chile</option>
                <option value="Centro De Formación Técnica Centro Tecnológico Superior Infomed">Centro De Formación Técnica Centro Tecnológico Superior Infomed</option>
                <option value="Centro De Formación Técnica Instituto Superior Alemán De Comercio Insalco">Centro De Formación Técnica Instituto Superior Alemán De Comercio Insalco</option>
                <option value="Centro De Formación Técnica Juan Bohon">Centro De Formación Técnica Juan Bohon</option>
                <option value="Centro De Formación Técnica Santo Tomás">Centro De Formación Técnica Santo Tomás</option>
                <option value="Centro De Formación Técnica Massachusetts">Centro De Formación Técnica Massachusetts</option>
                <option value="Centro De Formación Técnica Los Lagos">Centro De Formación Técnica Los Lagos</option>
                <option value="Centro De Formación Técnica Cenco">Centro De Formación Técnica Cenco</option>
                <option value="Centro De Formación Técnica Prodata">Centro De Formación Técnica Prodata</option>
                <option value="Centro De Formación Técnica Instituto Superior De Estudios Jurídicos Canon">Centro De Formación Técnica Instituto Superior De Estudios Jurídicos Canon</option>
                <option value="Centro De Formación Técnica Iprosec">Centro De Formación Técnica Iprosec</option>
                <option value="Centro De Formación Técnica San Agustín De Talca">Centro De Formación Técnica San Agustín De Talca</option>
                <option value="Centro De Formación Técnica Icel">Centro De Formación Técnica Icel</option>
                <option value="Centro De Formación Técnica Alpes">Centro De Formación Técnica Alpes</option>
                <option value="Centro De Formación Técnica Instituto Técnológico De Chile - I.T.C.">Centro De Formación Técnica Instituto Técnológico De Chile - I.T.C.</option>
                <option value="Centro De Formación Técnica Educap">Centro De Formación Técnica Educap</option>
                <option value="Centro De Formación Técnica Cámara De Comercio De Santiago">Centro De Formación Técnica Cámara De Comercio De Santiago</option>
                <option value="Centro De Formación Técnica Laplace O C.F.T. De Estudios Superiores Y Capacitación Profesional Laplace">Centro De Formación Técnica Laplace O C.F.T. De Estudios Superiores Y Capacitación Profesional Laplace</option>
                <option value="Centro De Formación Técnica Inacap">Centro De Formación Técnica Inacap</option>
                <option value="Centro De Formación Técnica Del Medio Ambiente">Centro De Formación Técnica Del Medio Ambiente</option>
                <option value="Centro De Formación Técnica Lota-Arauco">Centro De Formación Técnica Lota-Arauco</option>
                <option value="Centro De Formación Técnica Ceduc - Ucn">Centro De Formación Técnica Ceduc - Ucn</option>
                <option value="Centro De Formación Técnica Ceitec">Centro De Formación Técnica Ceitec</option>
                <option value="Centro De Formación Técnica Accioma">Centro De Formación Técnica Accioma</option>
                <option value="Centro De Formación Técnica Protec">Centro De Formación Técnica Protec</option>
                <option value="Centro De Formación Técnica De La Industria Gráfica O Cft Ingraf">Centro De Formación Técnica De La Industria Gráfica O Cft Ingraf</option>
                <option value="Centro De Formación Técnica De La Pontificia Universidad Católica De Valparaíso O Cft Pucv">Centro De Formación Técnica De La Pontificia Universidad Católica De Valparaíso O Cft Pucv</option>
                <option value="Centro De Formación Técnica Teodoro Wickel Kluwen">Centro De Formación Técnica Teodoro Wickel Kluwen</option>
                <option value="Centro De Formación Técnica Profasoc">Centro De Formación Técnica Profasoc</option>
                <option value="Centro De Formación Técnica Manpower">Centro De Formación Técnica Manpower</option>
                <option value="Centro De Formación Técnica Escuela Culinaria Francesa">Centro De Formación Técnica Escuela Culinaria Francesa</option>
                <option value="Centro De Formación Técnica De La Región De Arica Y Parinacota ">Centro De Formación Técnica De La Región De Arica Y Parinacota </option>
                <option value="Centro De Formación Técnica De La Región De Tarapacá">Centro De Formación Técnica De La Región De Tarapacá</option>
                <option value="Centro De Formación Técnica De La Región De Antofagasta">Centro De Formación Técnica De La Región De Antofagasta</option>
                <option value="Centro De Formación Técnica De La Región De Atacama ">Centro De Formación Técnica De La Región De Atacama </option>
                <option value="Centro De Formación Técnica De La Región De Coquimbo">Centro De Formación Técnica De La Región De Coquimbo</option>
                <option value="Centro De Formación Técnica De La Región De Valparaíso">Centro De Formación Técnica De La Región De Valparaíso</option>
                <option value="Centro De Formación Técnica De La Región Metropolitana">Centro De Formación Técnica De La Región Metropolitana</option>
                <option value="Centro De Formación Técnica De La Región Del Libertador General Bernardo O'Higgins">Centro De Formación Técnica De La Región Del Libertador General Bernardo O'Higgins</option>
                <option value="Centro De Formación Técnica De La Región Del Maule">Centro De Formación Técnica De La Región Del Maule</option>
                <option value="Centro De Formación Técnica De La Región Del Bío Bio">Centro De Formación Técnica De La Región Del Bío Bio</option>
                <option value="Centro De Formación Técnica De La Región De La Araucanía">Centro De Formación Técnica De La Región De La Araucanía</option>
                <option value="Centro De Formación Técnica De La Región De Los Ríos">Centro De Formación Técnica De La Región De Los Ríos</option>
                <option value="Centro De Formación Técnica De La Región De Los Lagos">Centro De Formación Técnica De La Región De Los Lagos</option>
                <option value="Centro De Formación Técnica De La Región  De Aysén Del General Carlos Ibáñez Del Campo">Centro De Formación Técnica De La Región  De Aysén Del General Carlos Ibáñez Del Campo</option>
                <option value="Centro De Formación Técnica De La Región De Magallanes Y La Antártica Chilena">Centro De Formación Técnica De La Región De Magallanes Y La Antártica Chilena</option>
            </select>
        </div>
        <div>
            <label for="study_field">Área de estudio</label>
            <select id="study_field" name="study_field" required>
                <option value="disabled_selected" hidden></option>
                <option value="1s">study_field_1</option>
                <option value="2s">study_field_2</option>
                <option value="3s">study_field_3</option>
            </select>
        </div>
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" placeholder="juanjimenez@ejemplo.com" required>
        </div>        
        <button type="submit">Enviar y continuar</button>
    </form>
    <form action="{{ url_for('continue_classification') }}" method="post">
        <button type="submit">Continuar desde donde lo deje</button>
    </form>
</body>
</html>
