<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <title>Home - WFH project</title>
</head>
<body>
    <header>
        <h1>Bienvenido</h1>
    </header>

    <main>
        <section id="background">
            <h2>Contexto</h2>
            <p class="background">Estamos estudiando la incidencia del trabajo desde casa utilizando el texto de millones de anuncios de trabajo en línea.
                Los anuncios de trabajo tienen mucha información que puede ser usada para diferentes tipos de investigaciones.</p>
            <p>Para realizar esta tarea necesitamos tu ayuda que nos servira para mejorar nuestra actual medición del trabajo desde casa!</p>
        </section>

        <section id="overview">
            <h2>Segunda ronda de clasificación</h2>
            <p class="overview">En esta segunda ronda de clasificación, se mostrarán solamente anuncios que ya han sido clasificados como Trabajo desde casa, si participaste en el primera ronda, por favor registrate con el mismo correo que utilizaste en el aprimera etapa.</p>
            <p class="overview">El objetivo es mejorar la clasificación de este grupo de anuncios. La opción que marques debe reflejar tu percepción del tipo de trabajo a partir solamente del texto del aviso y otra información entregada. Las opciones son:</p>
            <ol>
                <li><strong>Trabajo totalmente remoto:</strong> El trabajo se realiza única o principalmente desde el hogar. Puede admitir actividades presenciales ocasionales, como también un inicio presencial completo o parcial, pero luego se adopta la modalidad remota completamente. La idea es reflejar las condiciones usuales o de largo plazo de la modalidad de trabajo.</li>
                <li><strong>Trabajo temporalmente remoto:</strong> El trabajo se realizará desde el hogar durante un tiempo definido y luego se trasladará a las oficinas del empleador.</li>
                <li><strong>Trabajo remoto con horario presencial:</strong> El trabajo se realiza 1 o 2 días de la semana presencialmente (o su equivalente en horas) y los restantes días desde el hogar. Puede admitir un inicio completamente presencial o completamente remoto, pero luego de un tiempo definido se adopta un esquema con 1 o 2 días presenciales y el resto remotos. La idea es reflejar las condiciones usuales o de largo plazo de la modalidad de trabajo.</li>
                <li><strong>Trabajo presencial con horario remoto:</strong>El trabajo se realiza 1 o 2 días de la semana desde el hogar (o su equivalente en horas) y los restantes días de la semana típica son presenciales. Puede admitir un inicio completamente presencial o completamente remoto, pero luego de un tiempo definido se adopta un esquema con 1 o 2 días remotos y el resto presenciales. La idea es reflejar las condiciones usuales o de largo plazo de la modalidad de trabajo.</li>
                <li><strong>Trabajo remoto poco claro:</strong> El trabajo implica un día o más a la semana de trabajo desde el hogar, pero no es posible determinar cuál de las categorías anteriores es la más adecuada.</li>
                <li><strong>No es trabajo remoto:</strong> El aviso no indica trabajo desde el hogar.</li>
            </ol>
        </section>

        <section id="criterion">
            <h2>Recuerda algunas definiciones</h2>
            <p class="criterion">Si el anuncio menciona que el trabajo permite o requiere trabajar desde casa al menos un día completo por semana, lo clasificamos como <strong>Trabajo desde casa</strong>.</p>
        </section>

        <section id="instructions">
            <h2>¿Cómo clasificar los avisos de empleo?</h2>
            <p class="pasos">Sigue los siguientes pasos:</p>
            <ol>
                <li>Lee detenidamente los anuncios.</li>
                <li>Determina si el anuncio se refiere a alguna de las opciones anteriores.</li>
                <li>Selecciona la opción apropiada.</li>
                <li>Tu progreso se guarda automáticamente, puedes abandonar la página y regresar después</li>
            </ol>
        </section>

        <section id="ease_of_coding">
            <h2>¿Te resulto dificil clasificar?</h2>
            <ol>
                <li><span class="easy">Fácil:</span> Toma un par de segundos decidir si el anuncio es trabajo desde casa, es claro y obvio.</li>
                <li><span class="medium">Medio:</span> Toma un poco más de tiempo no es inmediatamente claro.</li>
                <li><span class="hard">Dificil:</span> Requirió consideración, no estaba claro la clasificación del anuncio.</li>
            </ol>
        </section>

        <section>
            <button type="aceptar"><a href="{{ url_for('datos_demo')}}">Aceptar</a></button>
        </section>
    </main>

    <footer>
        <p>Dudas: wfh.project.2024@gmail.com</p>
    </footer>
</body>
</html>