<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Clasificación de anuncios</title>
</head>
<body>
    <h1>Anuncios de empleo</h1>
    <div class="progress-container">
        <div class="progress-bar" id="progressBar">
            <div class="progress" id="progress"></div>
        </div>
        <p id="progressText">0 de 0 anuncios clasificados</p>
    </div>
    <form id="jobAdForm" action="/submit_classification", method="post">
        <p>Si prefieres continuar después, solo cierra la página, tu progreso se guarda y podrás continuar desde donde lo dejaste</p>
        <div id="jobAdContainer"></div>
        <div id="options">
            <label>
                <input type="radio" name="classification" value="tot_remote">Trabajo totalmente remoto
            </label>
            <label>
                <input type="radio" name="classification" value="temp_remote">Trabajo temporalmente remoto
            </label>
            <label>
                <input type="radio" name="classification" value="part_remote">Trabajo parcialmente remoto
            </label>
            <label>
                <input type="radio" name="classification" value="not_clear_remote">Trabajo remoto poco claro
            </label>
            <label>
                <input type="radio" name="classification" value="not_remote">No es trabajo remoto
            </label>
        </div>
        <div id="ease_of_coding">
            <label>
                <input type="radio" name="ease_of_coding" value="easy">Fácil
            </label>
            <label>
                <input type="radio" name="ease_of_coding" value="medium">Medio
            </label>
            <label>
                <input type="radio" name="ease_of_coding" value="hard">Dificil
            </label>
        </div>
        <!--Submit Button-->
        <button type="submit">Enviar</button>
    </form>
    <script src="/static/script.js"></script>
</body>
</html>